[Unit]
Description=Simple Continuous Integration Service
AssertPathExists=/etc/sci/pipelines.conf

[Service]
Type=exec
ExecStart=/usr/local/bin/sci -f /etc/sci/pipelines.conf

[Install]
WantedBy=multi-user.target
